* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #020024;
    background: linear-gradient(177deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 9%, rgba(0, 212, 255, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #ffd3da;
    font-size: 2.5rem;
}

.calculator {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}
label {
    font-size: 1.2rem;
    color: #fff;
}

input {
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

button {
    padding: 1rem;
    border: none;
    border-radius: 8px;
    background: #2847fa;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.2s, background 0.5s;
}

input{
    padding: 0.8rem;
}

button:hover {
    background: #a3daff;
    transform: translateY(-2px);
    color: #4d48b6;
}

    .container {
    width: 90%;
}